USE [master]
GO
/****** Object:  Database [LuuMinhTri_QuanLiCamDo]    Script Date: 11/05/2026 11:46:27 PM ******/
CREATE DATABASE [LuuMinhTri_QuanLiCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuuMinhTri_QuanLiCamDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LuuMinhTri_QuanLiCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LuuMinhTri_QuanLiCamDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LuuMinhTri_QuanLiCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuuMinhTri_QuanLiCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuuMinhTri_QuanLiCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @MaHD INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN

    -- Khai báo biến
    DECLARE @TienGoc DECIMAL(18,2);
    DECLARE @Deadline1 DATE;
    DECLARE @NgayVay DATE;
    DECLARE @SoNgay INT;
    DECLARE @TienLai DECIMAL(18,2);
    DECLARE @TongTien DECIMAL(18,2);

    -- Lấy thông tin hợp đồng
    SELECT
        @TienGoc = TienGoc,
        @Deadline1 = Deadline1,
        @NgayVay = NgayVay
    FROM HOP_DONG
    WHERE MaHD = @MaHD;

    -- Tính số ngày vay
    SET @SoNgay = DATEDIFF(DAY, @NgayVay, @TargetDate);

    -- Tính lãi đơn
    SET @TienLai = @TienGoc * 0.005 * @SoNgay;

    -- Tổng tiền
    SET @TongTien = @TienGoc + @TienLai;

    RETURN @TongTien;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hàm tính tiền giao dịch
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @TransactionID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN

    -- Khai báo biến
    DECLARE @TienGoc DECIMAL(18,2);
    DECLARE @NgayVay DATE;
    DECLARE @Deadline1 DATE;
    DECLARE @SoNgay INT;
    DECLARE @TienLai DECIMAL(18,2);
    DECLARE @TongTien DECIMAL(18,2);

    -- Lấy thông tin hợp đồng
    SELECT
        @TienGoc = TienGoc,
        @NgayVay = NgayVay,
        @Deadline1 = Deadline1
    FROM HOP_DONG
    WHERE MaHD = @TransactionID;

    -- Tính số ngày vay
    SET @SoNgay = DATEDIFF(DAY, @NgayVay, @TargetDate);

    -- Tính lãi đơn
    SET @TienLai = @TienGoc * 0.005 * @SoNgay;

    -- Tổng tiền
    SET @TongTien = @TienGoc + @TienLai;

    RETURN @TongTien;

END;
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayVay] [date] NULL,
	[TienGoc] [decimal](18, 2) NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[CCCD] [varchar](20) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_THANH_TOAN]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_THANH_TOAN](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayTra] [date] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NguoiThu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_SAN]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_SAN](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenTaiSan] [nvarchar](100) NULL,
	[LoaiTaiSan] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_TOAN]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_TOAN](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayTra] [date] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NguoiThu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HOP_DONG] ON 

INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [TienGoc], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, CAST(N'2026-05-11' AS Date), CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2026-05-18' AS Date), CAST(N'2026-05-25' AS Date), N'Đã thanh toán đủ')
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [TienGoc], [Deadline1], [Deadline2], [TrangThai]) VALUES (2, 2, CAST(N'2026-05-11' AS Date), CAST(7000000.00 AS Decimal(18, 2)), CAST(N'2026-05-21' AS Date), CAST(N'2026-05-31' AS Date), N'Đang vay')
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [TienGoc], [Deadline1], [Deadline2], [TrangThai]) VALUES (3, 3, CAST(N'2026-05-11' AS Date), CAST(9000000.00 AS Decimal(18, 2)), CAST(N'2026-05-26' AS Date), CAST(N'2026-06-10' AS Date), N'Đang vay')
SET IDENTITY_INSERT [dbo].[HOP_DONG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SDT], [DiaChi]) VALUES (1, N'Nguyen Van An', N'001001001', N'0901000001', N'Ha Noi')
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SDT], [DiaChi]) VALUES (2, N'Tran Thi Lan', N'001001002', N'0901000002', N'Hai Phong')
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SDT], [DiaChi]) VALUES (3, N'Le Minh Duc', N'001001003', N'0901000003', N'Da Nang')
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
SET IDENTITY_INSERT [dbo].[TAI_SAN] ON 

INSERT [dbo].[TAI_SAN] ([MaTS], [MaHD], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (1, 1, N'Sách Lập Trình C++', N'Sách Công Nghệ', CAST(500000.00 AS Decimal(18, 2)), N'Đã trả khách')
INSERT [dbo].[TAI_SAN] ([MaTS], [MaHD], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (2, 1, N'Sách SQL Server', N'Sách Database', CAST(450000.00 AS Decimal(18, 2)), N'Đã trả khách')
INSERT [dbo].[TAI_SAN] ([MaTS], [MaHD], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (3, 2, N'Sách Python', N'Sách Lập Trình', CAST(600000.00 AS Decimal(18, 2)), N'Đang cầm')
SET IDENTITY_INSERT [dbo].[TAI_SAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THANH_TOAN] ON 

INSERT [dbo].[THANH_TOAN] ([MaTT], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (1, 1, CAST(N'2026-05-11' AS Date), CAST(1000000.00 AS Decimal(18, 2)), N'Nhan Vien A')
INSERT [dbo].[THANH_TOAN] ([MaTT], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (2, 1, CAST(N'2026-05-11' AS Date), CAST(500000.00 AS Decimal(18, 2)), N'Nhan Vien A')
INSERT [dbo].[THANH_TOAN] ([MaTT], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (3, 2, CAST(N'2026-05-11' AS Date), CAST(2000000.00 AS Decimal(18, 2)), N'Nhan Vien B')
SET IDENTITY_INSERT [dbo].[THANH_TOAN] OFF
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[LOG_THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_LOG_THANH_TOAN_HOP_DONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[LOG_THANH_TOAN] CHECK CONSTRAINT [FK_LOG_THANH_TOAN_HOP_DONG]
GO
ALTER TABLE [dbo].[TAI_SAN]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo Stored Procedure đăng ký hợp đồng mới
CREATE PROCEDURE [dbo].[sp_DangKyHopDong]
(
    -- Thông tin khách hàng
    @HoTen NVARCHAR(100),
    @CCCD VARCHAR(20),
    @SDT VARCHAR(15),
    @DiaChi NVARCHAR(255),

    -- Thông tin hợp đồng
    @TienGoc DECIMAL(18,2),
    @NgayVay DATE,
    @Deadline1 DATE,
    @Deadline2 DATE,

    -- Thông tin tài sản
    @TenTaiSan NVARCHAR(100),
    @LoaiTaiSan NVARCHAR(100),
    @GiaTriDinhGia DECIMAL(18,2)
)
AS
BEGIN

    -- Khai báo biến mã khách hàng
    DECLARE @MaKH INT;

    -- Khai báo biến mã hợp đồng
    DECLARE @MaHD INT;

    -------------------------------------------------
    -- KIỂM TRA KHÁCH HÀNG ĐÃ TỒN TẠI HAY CHƯA
    -------------------------------------------------

    SELECT @MaKH = MaKH
    FROM KHACH_HANG
    WHERE CCCD = @CCCD;

    -------------------------------------------------
    -- NẾU KHÁCH HÀNG CHƯA TỒN TẠI
    -- THÌ THÊM MỚI KHÁCH HÀNG
    -------------------------------------------------

    IF @MaKH IS NULL
    BEGIN

        INSERT INTO KHACH_HANG
        (
            HoTen,
            CCCD,
            SDT,
            DiaChi
        )
        VALUES
        (
            @HoTen,
            @CCCD,
            @SDT,
            @DiaChi
        );

        -- Lấy mã khách hàng vừa tạo
        SET @MaKH = SCOPE_IDENTITY();

    END;

    -------------------------------------------------
    -- THÊM HỢP ĐỒNG MỚI
    -------------------------------------------------

    INSERT INTO HOP_DONG
    (
        MaKH,
        NgayVay,
        TienGoc,
        Deadline1,
        Deadline2,
        TrangThai
    )
    VALUES
    (
        @MaKH,
        @NgayVay,
        @TienGoc,
        @Deadline1,
        @Deadline2,

        -- Trạng thái ban đầu
        N'Đang vay'
    );

    -- Lấy mã hợp đồng vừa tạo
    SET @MaHD = SCOPE_IDENTITY();

    -------------------------------------------------
    -- THÊM TÀI SẢN CẦM CỐ
    -------------------------------------------------

    INSERT INTO TAI_SAN
    (
        MaHD,
        TenTaiSan,
        LoaiTaiSan,
        GiaTriDinhGia,
        TrangThai
    )
    VALUES
    (
        @MaHD,
        @TenTaiSan,
        @LoaiTaiSan,
        @GiaTriDinhGia,

        -- Trạng thái tài sản
        N'Đang cầm cố'
    );

    -------------------------------------------------
    -- THÔNG BÁO THÀNH CÔNG
    -------------------------------------------------

    PRINT N'Đăng ký hợp đồng thành công';

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure gia hạn hợp đồng
CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
(
    @MaHD INT,
    @Deadline1Moi DATE,
    @Deadline2Moi DATE
)
AS
BEGIN

    -- Cập nhật thời hạn mới
    UPDATE HOP_DONG
    SET
        Deadline1 = @Deadline1Moi,
        Deadline2 = @Deadline2Moi

    WHERE MaHD = @MaHD;

    PRINT N'Gia hạn hợp đồng thành công';

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TraNo]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TraNo]
(
    @MaHD INT,
    @SoTienTra DECIMAL(18,2)
)
AS
BEGIN

    -- Tổng nợ
    DECLARE @TongNo DECIMAL(18,2);

    -- Tiền còn nợ
    DECLARE @ConNo DECIMAL(18,2);

    -- Trạng thái tài sản
    DECLARE @TrangThai NVARCHAR(50);

    -- Lấy trạng thái tài sản
    SELECT TOP 1
        @TrangThai = TrangThai
    FROM TAI_SAN
    WHERE MaHD = @MaHD;

    -- Nếu đã thanh lý
    IF @TrangThai = N'Đã bán thanh lý'
    BEGIN

        PRINT N'Tài sản đã thanh lý';

        RETURN;

    END;

    -- Tính tổng nợ
    SET @TongNo =
    dbo.fn_CalcMoneyContract
    (
        @MaHD,
        GETDATE()
    );

    -- Tính tiền còn nợ
    SET @ConNo =
    @TongNo - @SoTienTra;

    -- Lưu thanh toán
    INSERT INTO THANH_TOAN
    (
        MaHD,
        NgayTra,
        SoTienTra
    )
    VALUES
    (
        @MaHD,
        GETDATE(),
        @SoTienTra
    );

    -- Nếu trả hết
    IF @ConNo <= 0
    BEGIN

        UPDATE HOP_DONG
        SET TrangThai = N'Đã thanh toán đủ'
        WHERE MaHD = @MaHD;

        UPDATE TAI_SAN
        SET TrangThai = N'Đã trả khách'
        WHERE MaHD = @MaHD;

        PRINT N'Khách đã trả hết nợ';

    END

    -- Nếu chưa trả hết
    ELSE
    BEGIN

        UPDATE HOP_DONG
        SET TrangThai = N'Đang trả góp'
        WHERE MaHD = @MaHD;

        PRINT N'Khách chưa trả hết';

    END;

END;

GO
/****** Object:  Trigger [dbo].[trg_DaBanThanhLy]    Script Date: 11/05/2026 11:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger cập nhật đã bán thanh lý
CREATE TRIGGER [dbo].[trg_DaBanThanhLy]
ON [dbo].[HOP_DONG]
AFTER UPDATE
AS
BEGIN

    UPDATE TAI_SAN
    SET TrangThai = N'Đã bán thanh lý'

    WHERE MaHD IN
    (
        SELECT MaHD
        FROM HOP_DONG
        WHERE TrangThai = N'Đã thanh lý'
    );

END;
GO
ALTER TABLE [dbo].[HOP_DONG] ENABLE TRIGGER [trg_DaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_QuaHanHopDong]    Script Date: 11/05/2026 11:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger cập nhật trạng thái nợ xấu
CREATE TRIGGER [dbo].[trg_QuaHanHopDong]
ON [dbo].[HOP_DONG]
AFTER UPDATE
AS
BEGIN

    UPDATE HOP_DONG
    SET TrangThai = N'Quá hạn (nợ xấu)'

    WHERE
        TrangThai = N'Đang vay'
        AND GETDATE() > Deadline1;

END;
GO
ALTER TABLE [dbo].[HOP_DONG] ENABLE TRIGGER [trg_QuaHanHopDong]
GO
/****** Object:  Trigger [dbo].[trg_SanSangThanhLy]    Script Date: 11/05/2026 11:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger chuyển tài sản sang thanh lý
CREATE TRIGGER [dbo].[trg_SanSangThanhLy]
ON [dbo].[HOP_DONG]
AFTER UPDATE
AS
BEGIN

    UPDATE TAI_SAN
    SET TrangThai = N'Sẵn sàng thanh lý'

    WHERE MaHD IN
    (
        SELECT MaHD
        FROM HOP_DONG
        WHERE
            TrangThai = N'Quá hạn (nợ xấu)'
            AND GETDATE() > Deadline2
    );

END;
GO
ALTER TABLE [dbo].[HOP_DONG] ENABLE TRIGGER [trg_SanSangThanhLy]
GO
USE [master]
GO
